*{
    box-sizing:border-box;
}

header, footer{
    height: 100px;
    border: 3px solid black;
    clear: both;
}
section{
    height: 300px;
    border: 3px solid black;
    float: left;
}
section:nth-of-type(-n+3) {
    width: 33.33%;
}
section:nth-of-type(4) {
    clear:left;
}
section:nth-of-type(n+4) {
    width: 50%;
}

