@beast:~/Documents/Code/learning/100dev$ git remote add origin https://github.com/KazAndTheCompiler/100dev.git
git remote -v
origin	https://github.com/KazAndTheCompiler/100dev.git (fetch)
origin	https://github.com/KazAndTheCompiler/100dev.git (push)
henry@beast:~/Documents/Code/learning/100dev$ git push -u origin main
Username for 'https://github.com': KazAndTheCompiler
Password for 'https://KazAndTheCompiler@github.com': 
Enumerating objects: 304, done.
Counting objects: 100% (304/304), done.
Delta compression using up to 8 threads
Compressing objects: 100% (264/264), done.
Writing objects: 100% (304/304), 12.48 MiB | 14.59 MiB/s, done.
Total 304 (delta 80), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (80/80), done.
To https://github.com/KazAndTheCompiler/100dev.git
 * [new branch]      main -> main
branch 'main' set up to track 'origin/main'.
henry@beast:~/Documents/Code/learning/100dev$ 
