*{
    box-sizing:border-box;
}

header, footer{
    height: 100px;
    border: 3px solid black;
    clear: both;
}
section {
  float: left;
  height: 300px;
  border: 3px solid black;
}

section:nth-of-type(1) {
  width: 20%;
}

section:nth-of-type(2) {
  width: 40%;
}

section:nth-of-type(3) {
  width: 20%;
}

section:nth-of-type(4) {
  width: 20%;
}
